* {
  font-family: 'Permanent Marker', cursive;
}

.navbar {
  background-color: rgb(30, 29, 31);
  box-shadow: 0 0 20px white;
  z-index: 5;
}

main {
  padding: 200px 10px;
  background: rgb(31, 29, 29);
  background-size: contain;
}

footer > div {
  transform: translateY(100%);
}

.bottom {
  background-color: rgba(0, 0, 0, 0.05);
}

.tv-card {
  background-color: rgb(9, 9, 9);
  text-align: center;
  width: 250px;
  margin: 20px;
  box-shadow: 0 0 10px 10px black;
  padding: 10px 25px;
}

.tv-card:hover {
  background-color: #ffc107;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.593);
}

.card-img {
  width: 200px;
}

.card-title {
  white-space: normal;
  width: 80%;
  color: white;
  height: 50px;
}

.like {
  cursor: pointer;
  font-size: 25px;
  color: red;
}

.like:hover {
  text-shadow: 0 0 5px rgb(165, 32, 32);
}

.popup {
  position: fixed;
  top: 30px;
  background-color: rgb(9, 9, 9);
  width: 90%;
  height: 95%;
  padding: 10px;
  left: 5%;
  text-align: center;
  color: rgb(158, 155, 155);
  box-shadow: 0 0 20px white;
  z-index: 6;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup::-webkit-scrollbar {
  width: 8px;
}

.popup::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

.popup::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 20px;
}

.popup-title {
  margin-top: 20px;
}

.popup > li {
  width: 90%;
  list-style: none;
}

.close {
  width: 30px;
  margin-left: 99%;
  transform: translateX(-100%);
  cursor: pointer;
}

.add-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

form {
  width: 350px;
  padding: 0;
}

input {
  margin: 10px;
  background: #ffc107;
  border: none;
  box-shadow: 0 0 5px 5px #ffc107;
  width: 100%;
}

.commentMsg {
  height: 200px;
}

.comment-box {
  clear: left;
  margin: 20px;
  width: 90%;
}

.comment-box > div {
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
  box-shadow: 0 0 10px white;
}

.comment-box > div::-webkit-scrollbar {
  width: 8px;
}

.comment-box > div::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);
}

.comment-box > div::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .tv-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .navbar {
    height: 150px;
  }

  .popup {
    text-align: left;
    font-size: larger;
  }

  .popup > img {
    float: left;
    width: 400px;
    margin: 20px;
  }

  .add-comment {
    align-items: flex-start;
  }

  form {
    width: 400px;
    padding: 0;
    align-items: flex-start !important;
  }
}

@media (min-width: 910px) {
  .tv-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1200px) {
  .tv-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 1500px) {
  .tv-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
  }
}

@media (min-width: 1800px) {
  .tv-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
  }
}
